input{
  width: 50%;

}
.main-container{
  margin:0 25% 0 25%;
  width:50%;
  font-family: 'Roboto Light'
}
.main-page{
  position: fixed;
  width: 50%;
  margin:15% 0 0 25%;
  font-family: 'Roboto Light'
}
.main-head{
  font-family: 'Roboto Light'
}
.containers{
  font-family: 'Roboto Light';

}
button{
  font-family: "Roboto Light";
}
