<html>
<header>
  <div class="main-head">
    TEST INCOMA v.1.0.0
  </div>
</header>

<div class="main-page">
  <div class="main-container">
    <div class="control">
      <input
             nz-input placeholder="Название еды" [(ngModel)]="nameModel" id="name">
      <input
        nz-input placeholder="Тип еды" [(ngModel)]="typeModel" id="type">
      <p></p>
      <button nz-button (click)="filterFood()" >Фильтр</button>
    </div>
    <p></p>
    <div class="containers">
      <app-container [foodsList]="foods" *ngIf="foods"></app-container>
      <app-container [foodsList]="filteredFoods" *ngIf="filteredFoods"></app-container>
    </div>
  </div>
</div>

<footer></footer>
</html>
